.card-wrapper {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 20px;
  width: fit-content;
}

.cardImage {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  object-fit: fill;
}